<article itemscope itemtype="http://schema.org/Article"> {% layout 'theme.pagefly' %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Poppins:400|GFS+Didot:400|Open+Sans:400|Anton:400|Playfair+Display:400|Bree+Serif:400|Droid+Serif:400|Mrs+Saint+Delafield:400|Rubik:400|Tinos:400"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.1.0/css/main-style.css?t=2019-05-05-17"><link rel="stylesheet" href="{{ 'pagefly.6f79a543.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div class="pf-ef31dfb2 sc-hwwEjo kIFSBP" data-pf-type="Body"><div class="pf-4ff4732b sc-lkqHmb fgSdED" data-pf-type="Layout"><div data-container="true" class="pf-b3d7b8bd sc-eilVRo gsoKZR" data-pf-type="Section"><div class="sc-gHboQg eLpzfs" style="max-width: 1170px;"></div></div><div data-container="true" class="pf-1af37ed9 sc-eilVRo gsoKZR" data-pf-type="Section"><div class="sc-gHboQg eLpzfs" style="max-width: 1170px;"><div class="pf-116e6572 pf-r pf-r-eh sc-fYiAbW bgvpaP" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-458d9a44 sc-cbkKFq bTgDOc" data-pf-type="Column"><div class="pf-a94e18ee sc-iyvyFf gJXqlU" data-pf-type="Block"><h2 mode="view" class="pf-5fc10440 pf-i--top sc-hXRMBi dwAIae" data-pf-type="Heading"><i class="pf-9f09deb7 fa fa-star sc-cQFLBn bZqGCo" data-pf-type="Icon"></i><span class="pf-049fb252 sc-itybZL ihLHML" data-pf-type="Text">The Best Homemade Remedy for Acne (It’s Not Urine)</span></h2><p class="pf-09167f4c sc-jzgbtB fWpeJL" data-pf-type="Paragraph"><span class="pf-4bae0ba6 sc-itybZL ihLHML" data-pf-type="Text">The Most Effective Long Term Acne Solution of 2019</span></p></div></div></div></div><div class="pf-68c3abc8 pf-r pf-r-eh sc-fYiAbW bgvpaP" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-48390105 sc-cbkKFq bTgDOc" data-pf-type="Column"><div class="pf-193bc0b9 sc-eXEjpC dXlmih" data-pf-type="Divider"><span><svg width="130" height="24" viewBox="0 0 130 24"><g fill="none" fill-rule="evenodd"><g stroke="rgb(145, 157, 169)" stroke-width="2"><path d="M65.218 1.92l-10.27 10.272 10.27 10.272L75.49 12.192 65.218 1.922z"></path><path d="M54.927 5.735L48.59 12.07l6.337 6.335 6.335-6.335-6.335-6.335zM75.266 5.735L68.93 12.07l6.336 6.335L81.6 12.07l-6.334-6.335z"></path></g></g></svg></span></div><div class="pf-47900605 sc-gzOgki htgaJh" data-pf-type="Custom.HTML"><h2>Goodbye Dog Urine, Hello Water Kefir</h2>
<p>Acne is undoubtedly the most common skin condition in the US. Despite affecting millions of people, accurate information about acne treatment is still scarce. Nowadays, we see so many companies making bold claims about miracle solutions and overnight cures, preying on many vulnerable consumers who only want clear skin. However, none are as bold as that lady who drank her dog’s pee, insisting that it’s the secret to natural glowing skin.</p>
<p>Needless to say, her proposed solution to our acne conundrum met widespread ridicule. For starters, her claims aren’t backed by scientific evidence. No amount of paid media is also going to convince 50 million Americans to drink dog urine, even if it leads to clear, radiant skin. We understand that finding a skin treatment that works for you can be very frustrating. Even when you’ve ruled out dog pee, you are left with a myriad of solutions to consider.</p>
<p>And by solutions, we mean that there’s so much more to skin care than your grooming regimen. Often, when we think about acne treatment, we only look at the best skin care products on the market. Sometimes we forget that our daily habits, like eating a well-balanced diet, can significantly improve our skin’s health from the inside out. Dog pee might not have the nutrients you need for healthy skin, but probiotic water might just be what you need to make your glow up inevitable. Best of all, it’s urine-free!</p>
<h3>What is Water Kefir?</h3>
<p>Water kefir is a healthy fermented beverage made with kefir grains or tibicos. It is a probiotic drink, which means it contains live, good bacteria like yogurt. However, it contains twice as much good bacteria than any yogurt, making it the best probiotic product you can buy on the market. The drink is light and refreshing, similar to kombucha. Since kefir grains metabolize the sugars in the juice, it ends up with a tangy flavor instead of a burst of sweetness.</p>
<p>Most beauty gurus educate their readers about natural beauty products, but you won’t usually come across shoutouts on probiotics for acne treatment. You also won’t see a lot of people listing water kefir on their recommendations. In the beauty community, this refreshing probiotic beverage has yet to become as popular as rose water. Nevertheless, it’s as effective in terms of clearing acne, reducing redness, and minimizing the pores on our face.</p>
<p>Studies show that kefir – probiotic source for our guts – can boost our immune system, improve bone health, and rejuvenate our skin. Research shows that topical probiotics – whether it’s a cleanser, a face mask, or a cream – protect the skin from bad bacteria that cause our acne to flare up.</p>
<p>Probiotics can prevent acne, soothe inflammation, and eliminate redness. Since it contains an Alpha Hydroxy Acid, you can make an exfoliating face mask with kefir. It will get rid of the dead skin cells on your face in no time. Probiotics are also known for their anti-aging properties. So, take advantage of this natural skin care ingredient. In doing so, you should be able to fight the signs of premature aging and enjoy healthy younger-looking skin.</p>
<p>Everything You Need to Create Water Kefir</p>
<p>Now that you know what water kefirs are and why you ought to add them to your beauty regimen, you should learn how to make one for yourself. Yes—you can create your own hormonal acne treatment. It won’t take a lot of effort or time. Whether you intend to drink your water kefir or turn it into a blackhead mask, you can have it ready in about three days. And it will only take around five minutes to concoct.</p>
So, what do you need to create this probiotic water? <br>
<h4><br><strong>1. Wells of Health Water Kefir Grains</strong></h4>
When you’re looking for a solution for your acne, you won’t always come across brewing tibicos or water kefir grains as a recommendation. But it should be. The main components of this probiotic blend are H2O and water kefir grains. They aren’t really grains like wheat or barley. They’re a mixture of lactic acid, yeasts, and live, good bacteria. To create water kefir, you need the grains to ferment in water or coconut water. Once you brew the grains, they will expand and multiply. That means you’ll have more grains to give to friends or to sell. <br>Today, you won’t have any trouble finding out where to buy kefir. Cultures like these Japanese water crystals are available on Etsy. They’re organic, and they make an excellent substitute for carbonated beverages. Several other cultures are available on online retailers such as Amazon. <br><br>You can also find a complete step-by-step guide on how to make Water Kefir with this amazing book. This book will provide all the relevant information you'll need to create Water Kefir and start putting the pieces together with this acne puzzle, today!<script type="text/javascript">// <![CDATA[
amzn_assoc_tracking_id = "evolou-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_design = "enhanced_links";
amzn_assoc_asins = "B00W8PJN7Q";
amzn_assoc_placement = "adunit";
amzn_assoc_linkid = "1d49ab64fc72fbd4c443d3023b9122ee";
// ]]></script><script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script><br><br>
<h4><strong>2. Lively Cultures Water Kefir Grains</strong></h4>
Water kefir grains grow and reproduce when you brew them, so you don’t have to keep on replenishing your stock. As long as they’re fed properly, they will continue to ferment and multiply. For only $18.99, you can purchase your first batch of water kefir grains from Lively Cultures. These are non-GMO products made with certified organic ingredients. While some take as much as three days to ferment, these grains will ferment in about 24 hours. Lively Cultures grow their tibicos in coconut palm sugar, white cane sugar, whole cane sugar, and blackstrap molasses. <br>No two cultures are the same. Some are fed with dried fruit, while others are given coral calcium. The fermentation process may vary, but these nourishing probiotic beverages will all be packed with beneficial acids, enzymes, vitamins, and minerals – everything you need to eliminate acne, fight the premature signs of aging, and maintain healthy, firm skin.<script type="text/javascript">// <![CDATA[
amzn_assoc_tracking_id = "evolou-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_design = "enhanced_links";
amzn_assoc_asins = "B0199AZ7FE";
amzn_assoc_placement = "adunit";
amzn_assoc_linkid = "61a214aaba82a339e6dbeba8fc8b2f8d";
// ]]></script><script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script><br><br>
<h4><strong>3. Thirty-Two Degrees Glass Bottles</strong></h4>
Look for an ideal container for your water kefir. If you can’t find one in your cupboard, you might as well buy water kefir beverages and reuse the bottles. Thirty-Two Degrees has an organic, unsweetened, dairy-free, and gluten-free drink that might interest you. Their coconut water kefir is ideal for vegans or anyone who is lactose intolerant. Coconut water kefirs contain lower sugar content and greater amounts of probiotic cultures than their regular counterparts. This beverage is filled with 15 to 30 billion CFUs per 2 oz. For every 16 oz. bottle, you get eight servings. One bottle of this refreshing beverage only costs $27.99.<script type="text/javascript">// <![CDATA[
amzn_assoc_tracking_id = "evolou-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_design = "enhanced_links";
amzn_assoc_asins = "B07JNS2ZBC";
amzn_assoc_placement = "adunit";
amzn_assoc_linkid = "297b96c163f864a8cc1f7ce565875f9e";
// ]]></script><script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script><br>
<h4><br><strong>4. Brieftons Kefir Kit</strong></h4>
Aside from reusing kefir bottles, you can opt to purchase an entire kit. Brieftons, for instance, has an entire set made for your homemade blends. This consists of six lead-free glass bottles, all of which come with an extra wide mouth and a 201-grade stainless steel cap. Their lids also have a food grade O-ring made from silicon to keep your beverages air-tight and leak-proof. Each of the six bottles can store 18 oz. of liquid. They’re chemical-free, making them good for your body and our environment. Since the kit also comes with a large cleaning brush, you‘ll have no trouble washing your bottles.<script type="text/javascript">// <![CDATA[
amzn_assoc_tracking_id = "evolou-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_design = "enhanced_links";
amzn_assoc_asins = "B01DN6001G";
amzn_assoc_placement = "adunit";
amzn_assoc_linkid = "ffbe876b27cc44a7e0da40c081ce036a";
// ]]></script><script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script><br><br>
<h4><strong>5. Toodour Stainless Steel Straws</strong></h4>
Plastic products are often made with toxic chemicals that enter your bloodstream every time you use them. Unlike disposable plastic straws, their stainless steel alternatives are better for your health and our environment. Since you’re trying to embrace a healthier lifestyle, you should do it properly and use safe materials. Toodour’s metal straw set is made up of four straight straws and four bent ones, ideal for 20 oz. tumblers. They all have a smooth finish and rounded edges so you don’t hurt yourself when you’re taking a sip of your water kefir. This straw kit only costs $7.99, and it already comes with two cleaning brushes.<script type="text/javascript">// <![CDATA[
amzn_assoc_tracking_id = "evolou-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_design = "enhanced_links";
amzn_assoc_asins = "B07M9TJ9JD";
amzn_assoc_placement = "adunit";
amzn_assoc_linkid = "a6bdb7ff37c77b9e4c30677cbf574c56";
// ]]></script><script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script><br><br>
<h4><strong>6. Humble House Sauerkrock Tap</strong></h4>
Made by Humble House, a company who specializes in home fermentation products, the sauerkrock tap can hold five liters’ worth of beverages. That’s 1.3 gallons of kefir, which means it’s ideal for people who want to brew homemade probiotic drinks for their entire family. Made with heavy duty ceramic fermentation crock, this container is durable enough for daily use. It also has a food-grade glaze, which is lead-free and cadmium-free. This is safe for you and your entire family to use, and it’s also easy to clean. Unlike most fermentation containers today, this doesn’t have a plastic spigot. It has a stainless steel and BPA-free tap.<script type="text/javascript">// <![CDATA[
amzn_assoc_tracking_id = "evolou-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_design = "enhanced_links";
amzn_assoc_asins = "B077S8GR5W";
amzn_assoc_placement = "adunit";
amzn_assoc_linkid = "1832e8da461f270909430c0201c8aae6";
// ]]></script><script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script><br> <br>
<h4><strong>7. Vibz Airtight Glass Jars</strong></h4>
Brewing kefir regularly eliminates acne, minimizes enlarged pores, and maintains the skin’s elasticity. Making a lifestyle change is easier said than done. However, there are a few ways you can do to ensure that you get your daily dose of probiotics. Brewing it in batches, for instance, will be convenient for anyone who runs on a tight schedule. If you’re always on-the-go, you can make your kefir once every week and store it in glass jars. Every day, you just have to pour it in your tumbler and head off to work. Vibz has a pair of glass jars, which retail for $19.95. Each of the jars has a one-gallon capacity. They have airtight and leak-proof lids. They also come with two 8 x 8 muslin cloths if you need to let in air, and keep out bugs and other contaminants at the same time.<script type="text/javascript">// <![CDATA[
amzn_assoc_tracking_id = "evolou-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_design = "enhanced_links";
amzn_assoc_asins = "B07HZ3GS3X";
amzn_assoc_placement = "adunit";
amzn_assoc_linkid = "92ec03b21ce4efcff71724312cabf164";
// ]]></script><script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script><br><br>
<h4><strong>8. Microbiota Kefir Fermenter</strong></h4>
Designed to simplify the homemade kefir process, Microbiota’s specialized jars are ideal for newbies. You won’t have to go through a lot of steps to brew your healthy probiotic drink. All you need to do is add your kefir grains into a little plastic container with holes and pour water. After waiting for a full day, you can sip your fermented beverage from a straw, which also comes with the jar. You don’t need strainers or spatulas. You just have to add the ingredients and let it <br>sit before drinking your kefir or turning it into a cleanser or pore minimizer. Once you run out of kefir, fill the jars with your choice of beverage and replenish your stock.<script type="text/javascript">// <![CDATA[
amzn_assoc_tracking_id = "evolou-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_design = "enhanced_links";
amzn_assoc_asins = "B00UHA7A6U";
amzn_assoc_placement = "adunit";
amzn_assoc_linkid = "ebd8329f537d7dea02da8e2da4545e55";
// ]]></script><script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script><br><br>
<h4><strong>9. Culina Mesh Strainer</strong></h4>
<p>Culina’s three-inch mesh strainer is made of food-grade stainless steel. This comes with a tightly weaved mesh and a five-inch handle, perfect for separating lumps and other solid particles from your homemade brews, including your water kefir. It’s also built with an ergonomic handle and a front hook, so it can securely sit on top of any cup, bowl, or jar. That means you can multitask in the kitchen, and you won’t have to worry about any spills. Made with durable materials, you can use this product every single day. Whether you’re brewing water kefir or tea, you’ll need a trusty mesh strainer to prepare your beverages.<script type="text/javascript">// <![CDATA[
amzn_assoc_tracking_id = "evolou-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_design = "enhanced_links";
amzn_assoc_asins = "B00R59S5U6";
amzn_assoc_placement = "adunit";
amzn_assoc_linkid = "68b375c68dea7ad95e94ed5607b441d9";
// ]]></script><script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script><br><br></p>
<h4><strong>10. MaryRuth Organics Liquid Probiotic&nbsp;</strong></h4>
Start this new chapter in your life by learning how to incorporate more probiotic products into your daily routine. MaryRuth Organics’ plant and water-based Liquid Probiotic serum is a certified organic product, which doesn’t contain any GMOs, gluten, wheat, corn, nuts, and soy. One of the best probiotics for women, this product protects feminine health and promotes overall wellness. Additionally, it supports digestive functions and improves gut health.<script type="text/javascript">// <![CDATA[
amzn_assoc_tracking_id = "evolou-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_design = "enhanced_links";
amzn_assoc_asins = "B01CFJ3SXO";
amzn_assoc_placement = "adunit";
amzn_assoc_linkid = "7479923bf9e3432936449b0d48173720";
// ]]></script><script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script><br><br>
<h5><span style="text-decoration: underline;"><strong>How Long Does it Take for Probiotics to Work?</strong></span></h5>
<p>High-quality probiotic products will start to take effect 30 to 60 minutes after you’ve consumed them. If the live, good bacteria can survive your stomach acidity, they’ll get to work right away once they reach your gut. So you can reap all the benefits of your homemade water kefir, make sure to purchase live cultures with high CFU count. Underlying medical conditions could prevent probiotics from working. Moreover, substances like medications or drugs might impair your body’s ability to absorb probiotics.</p>
<h5><span style="text-decoration: underline;"><strong>Best Time to Take Probiotics</strong></span></h5>
<p>Probiotics, such as your water kefir, can improve gastrointestinal function, boost the immune system, alleviate constipation, and promote clear skin. To maximize their benefits, take your water kefir and other probiotic beverages in the morning, about 15 to 30 minutes before eating your breakfast. This way, the good bacteria won’t get stuck in the stomach with your food. They can go all the way to your gut where they can work their magic and heal you from the inside out.</p></div></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-a84dbefc sc-cbkKFq bTgDOc" data-pf-type="Column"><div class="pf-fe25755e sc-ibxdXY eEsRda" data-pf-type="FBLikeButton"><iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fevolou.com%2Fblogs%2Fnews%2Fthe-best-homemade-remedy-for-acne-1&layout=button_count&action=like&size=large&show_faces=true&share=true&appId=" width="100%" height="30px"></iframe></div></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-853eb469 sc-cbkKFq bTgDOc" data-pf-type="Column"><h3 mode="view" class="pf-1ecd054a sc-gwVKww lmgwgQ" data-pf-type="Heading"><span class="pf-e820fc35 sc-itybZL ihLHML" data-pf-type="Text">MORE ABOUT BEAUTY</span></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-5b05e0fa sc-cbkKFq bTgDOc" data-pf-type="Column"><div class="pf-1891b6e4 pf-r pf-r-ew--3 sc-ipZHIp bTzIKD" data-pf-type="BlogList">{% for article in blogs['news'].articles  limit: 3 %}<div class="pf-c"><div class="blog__article article--vertical">{% unless article.image == blank %}<div class="blog__image"><a href="{{ article.url }}"><img src="{{ article.image.src | img_url: '350x300', crop: 'center' }}" alt="{{ article.title }}"></a></div> {% endunless %}<div class="blog__infos"><h3><a href="{{ article.url }}">{{ article.title }}</a></h3><p class="blog__excerpt">{{ article.excerpt_or_content | strip_html | truncatewords: 30 }}</p></div></div></div>{% else %}<div class="pf-c"><div class="blog__article article--vertical"><div class="blog__image"><a href="javascript:void(0)">{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
										{{ 'collection-' | append: current | placeholder_svg_tag: 'pf-placeholder-svg' }}</a></div><div class="blog__infos"><h3><a href="javascript:void(0)">Your post's title</a></h3><p class="blog__excerpt">Your store hasn't published any blog posts yet. A blog can be used to talk about new product launches, tips, or other news you want to share with your customers.</p></div></div></div><div class="pf-c"><div class="blog__article article--vertical"><div class="blog__image"><a href="javascript:void(0)">{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
										{{ 'collection-' | append: current | placeholder_svg_tag: 'pf-placeholder-svg' }}</a></div><div class="blog__infos"><h3><a href="javascript:void(0)">Your post's title</a></h3><p class="blog__excerpt">Your store hasn't published any blog posts yet. A blog can be used to talk about new product launches, tips, or other news you want to share with your customers.</p></div></div></div><div class="pf-c"><div class="blog__article article--vertical"><div class="blog__image"><a href="javascript:void(0)">{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
										{{ 'collection-' | append: current | placeholder_svg_tag: 'pf-placeholder-svg' }}</a></div><div class="blog__infos"><h3><a href="javascript:void(0)">Your post's title</a></h3><p class="blog__excerpt">Your store hasn't published any blog posts yet. A blog can be used to talk about new product launches, tips, or other news you want to share with your customers.</p></div></div></div>{% endfor %}</div></div></div></div></div></div><div data-container="true" class="pf-90b80465 sc-eilVRo gsoKZR" data-pf-type="Section"><div class="sc-gHboQg eLpzfs" style="max-width: 1170px;"><div class="pf-3e24fc94 pf-r pf-r-eh sc-fYiAbW jrSpEm" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 0px;"><div class="pf-a78dac1e sc-cbkKFq bTgDOc" data-pf-type="Column"><div class="pf-676ebbaf sc-iyvyFf gJXqlU" data-pf-type="Block"><h3 mode="view" class="pf-a73fa4b1 sc-gwVKww lmgwgQ" data-pf-type="Heading"><span class="pf-01b48ff4 sc-itybZL ihLHML" data-pf-type="Text">Subscribe to our newsletter</span></h3><p class="pf-b15ac324 sc-jzgbtB fWpeJL" data-pf-type="Paragraph"><span class="pf-065e4108 sc-itybZL ihLHML" data-pf-type="Text">Receive Updates & Discounts For Being Part of Our Mailing List. We Don't Send Them Often, But When We Do, They Don't Disappoint.</span></p></div></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 0px;"><div class="pf-b20d7b25 sc-cbkKFq bTgDOc" data-pf-type="Column"><form class="pf-17dfe2a6 sc-cpmLhU fxBmLd" target="_blank" action="" mode="view" method="POST" data-pf-type="MailChimp"><div><input type="text" placeholder="Enter your email" name="EMAIL" required=""><button><i class="fa fa-envelope"></i></button></div></form></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","events":{},"pageflyVersion":"2.1.0"};
				</script><script src="https://cdn.pagefly.io/pagefly/2.1.0/core/helper.js?t=2019-05-05-17" defer></script> {% include 'pagefly-comment-form' %}</article>